:root {
  --color_active: "#977656";
  --color_base: "#F2DAC2";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  /* overflow: hidden; */
}
